@{
    ViewBag.Title = "About";
}

<style>
    .center-content {
        text-align: center;
        margin: 0 auto;
        max-width: 600px;
    }
</style>

<div class="center-content">
    <h2>About Me</h2>

    <p>Meet Tina Nguyen.</p>

    <img src="~/img/profile-picture.png" alt="Profile Picture" />

    <p>
        Hello, everyone, thanks for stopping by! My name is Tina Nguyen and this is my final capstone project. I chose to create a recipe website due to the fact that I love baking and cooking in my free time. My love for being in the kitchen started when I was young and was being babysat by my grandmother, we had to spend a lot of time altering her recipes due to my palate not being fully developed. I have learned to enjoy the umami flavors that come from Vietnamese cooking now that I am older, therefore, I’d like to share my recipes to anyone who is interested! My website features American and Vietnamese recipes because that is what I grew up with. I combined the best of both worlds into one and hope you try out at least one of these delicious recipes!
    </p>
</div>
